.btn-voltar {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  color: #F2E7C9;
  background-color: #BC9157;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #BC9157;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 20px auto; 
  text-align: center;
  display: block; 
}

.btn-voltar:hover {
  background-color: #F2E7C9;
  color: #BC9157;
}
